DATABASE_URL=postgresql+psycopg2://producao:producao@localhost:5434/producaoscan
CORS_ORIGINS=*
HOST=0.0.0.0
PORT=8000
POSTGRES_USER=producao
POSTGRES_PASSWORD=producao
POSTGRES_DB=producaoscan
POSTGRES_PORT=5434
